*{
	
	margin: 0;
	padding: 0;
	
}

html{
	
	font-family: 'Averia Gruesa Libre', cursive;
	font-size: 16px;
	
}

body{
	
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8E8E8;
	
}

.login_container{
	
	background-color: white;
	width: 350px;
	height: auto;
	
}

.login_top{
	
	background-color: white;
	border-top: solid .5rem #66CDAA;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2rem 0;
	border-radius: 8px;
	
}


.login_img{
	
	width: 4rem;
	margin-right: 1rem;
	
}

.login_title{
	
	color: #66CDAA;
	
}

.login_title span{
	
	color: #66CDAA;
	
}

.login_form{
	
	background: white;
	display: flex;
	flex-direction: column;
	padding: .5rem .5rem .5rem;
	text-align: center;
	border-radius: 8px;
	
	
}

input[type=text],[type=password],[type=email],[type=number],[type=tel]{
	
	margin: .4rem 0;
	padding: .5rem;
	border-radius: 8px;
	border-bottom:solid 0.2rem #E8E8E8;
	background: white;
	transition: all .4s;
	color: #D0D3D4;
	
}

input[type=text]:focus, [type=password]:focus, [type=email]:focus, [type=number]:focus, [type=tel]:focus {
	
	outline: none;
	border-bottom: solid 0.2rem #E8E8E8;
	border-radius: 8px;
	color: black;
	
	
}

.btn_submit{
	
	border: none;
	padding: .6rem 0;
	margin: 1rem 20px .3rem;
	background-color: #66CDAA;
	border-radius: 8px;
	color: white;
	
}

.btn_submitFace{
	
	border: none;
	padding: .6rem 0;
	margin: 1rem 20px .3rem;
	border-radius: 8px;
	background-color: #3b5998;
	color: white;
	
}

.btn_menu{
	
	border: none;
	padding: .6rem 0;
	margin: 1rem 20px .3rem;
	border-radius: 8px;
	background-color: #66CDAA;
	color: white;
	
}


.form_recover{
	
	color: #66CDAA;
	font-size: 13px;
	text-decoration: none;
	
	
}

.form_recover:hover{
	
	color: #E67E22;
	
}

.btn_submit:hover{
	
	
	background-color: white;
	border-radius: 8px;
	color: #66CDAA;
	transition: all .4s;
	
}

.btn_submitFace:hover{
	
	
	border-radius: 8px;
	background-color: white;
	color: #8b9dc3;
	transition: all .4s;

}

.btn_menu:hover{
	
	
	border-radius: 8px;
	background-color: white;
	color: #66CDAA;
	transition: all .4s;
	
}

.login_titlemid{
	
	color: #66CDAA;
	
}

.login_titlemid span{
	
	color: red;
	
}

.btn_Mapa{
    
        border: none;
	margin: 1rem 20px .3rem;
	background-color: #66CDAA;
	border-radius: 8px;
	color: white;
        font-size: 16px;
    
}

.aMapa{
    
    background-color: #66CDAA;
    border-radius: 8px;
       
}









