body{
background: #eee;
font-family: 'Averia Gruesa Libre' ,cursive;



}

h2{
 
 text-align: center;
 color: #66CDAA;
 
}

.table-container{
	 width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
	background-color:white;
font-size: 25px;
border-collapse: collapse;
    width: 100%;
        
}



th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #66CDAA}

