

    body{
 background-color:#eee;
}

h1{
 color: #66CDAA;
 margin-left:50px;
}

p{
 margin-left:50px;
 position:center;
 color:#070707  ;
}

.btn_Listo{
 
 border: none;
 padding: .6rem 0;
 margin: 1rem 20px .3rem;
 background-color: #66CDAA;
 border-radius: 8px;
 color: white;
align-content: center;
margin-left:80px;
  }
  
.mapa{
 margin-left:500px;
  margin: 1rem 20px .3rem;
}  

.opcion{
 border: none;
 padding: .2rem 0;
 margin: 1rem 60px .3rem;
 background-color: #66CDAA;
 border-radius: 6px;
 color: white;
align-content: center;

}


.clase_panel_carga
{
    
 position: absolute;
 width: 100%;
 height: 100%;
 /* Opacidad para Internet Explorer */
 filter:alpha(opacity=70);
 /* Opacidad en CSS3 estándar */
 opacity: 0.7;
 background-color: #FFFFFF;
 background-image:url(../Imagenes/load.gif);
 background-repeat:no-repeat;
 background-position:center;
 z-index: 10;
 visibility: hidden;

}